Source: ros-kilted-ros2-snapshot
Section: misc
Priority: optional
Maintainer: CNU Robotics CHRISLab <robotics@cnu.edu>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, ros-kilted-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: 
Standards-Version: 3.9.2

Package: ros-kilted-ros2-snapshot
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, graphviz, python3-pydantic, ros-kilted-ros2pkg, ros-kilted-ros-workspace
Description: ROS2 Snapshot - contains workspace modeler and snapshot tools
